<!doctype html>
<!-- # html에 xmlns:th="http://www.thymeleaf.org"를 붙여야 '타임리프'를 사용할 수 있음 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">-- header 영역 --</head>
<div th:replace="fragments/common :: html-nav">-- nav 영역 --</div>
<body>

<!-- content : Start ========================================================================== -->

<div class="wrapper mt-5 mb-5">
    <div class="container mt-5 mb-5">

        <!-- 타이틀 영역 -->
        <div class="mt-5 mb-5">
            <figure>
                <blockquote class="blockquote"><p><mark>※ 게시판 상세페이지</mark></p></blockquote>
                <figcaption class="blockquote-footer-green">- 상세 db.board [id, title, content, filename, filepath, create_date]</figcaption>
                <figcaption class="blockquote-footer-green">- YouTube)  https://youtu.be/frI5CoZe-vE</figcaption>
            </figure>
        </div>

        <!-- 게시글 내용 영역 -->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span th:text="${board_data.title}"></span>
                        <span style="margin-left: 10px;">#</span>
                        <span th:text="${board_data.id}"></span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div th:text="${board_data.content}"></div>

                        <th:block th:if="${board_data.filepath != null and board_data.filepath != ''}">
                        <div id="img-view" class="mt-5">
                            <img th:src="${board_data.filepath}" style="width: 100px; margin-right: 20px;"/>
                            <a class="btn btn-outline-warning" th:text="${board_data.filename}" th:href="@{${board_data.filepath}}" target="_blank">다운받기</a>
                        </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>


        <!-- 하단버튼 영역 -->
        <div class="mt-5">
            <a class="btn btn-secondary" th:href="@{/board/delete_do(id=${board_data.id})}">삭제</a>
            <a class="btn btn-success" th:href="@{/board/update/{id}(id=${board_data.id})}">수정</a>
            <a class="btn btn-info" th:href="@{/board/list}">목록</a>
        </div>

    </div><!-- END : container -->
</div><!-- END : wrapper -->


<script>

</script>

<!-- content : END  ========================================================================== -->

<div th:replace="fragments/common :: html-footer">-- footer 영역 --</div>
</body>
</html>