<!doctype html>
<!-- # html에 xmlns:th="http://www.thymeleaf.org"를 붙여야 '타임리프'를 사용할 수 있음 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">-- header 영역 --</head>
<div th:replace="fragments/common :: html-nav">-- nav 영역 --</div>
<body>

<!-- content : Start ========================================================================== -->

<div class="wrapper mt-5 mb-5">
    <div class="container mt-5 mb-5">

        <!-- 타이틀 영역 -->
        <div class="mt-5 mb-5">
            <figure>
                <blockquote class="blockquote"><p><mark>※ 게시판 수정페이지</mark></p></blockquote>
                <figcaption class="blockquote-footer-green">- 수정 db.board [id, title, content, filename, filepath, create_date]</figcaption>
                <figcaption class="blockquote-footer-green">- YouTube)  https://youtu.be/frI5CoZe-vE</figcaption>
            </figure>
        </div>


        <!-- 수정폼 영역 -->
        <form class="container" th:action="@{/board/update_do/{id}(id=${board_data.id})}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" class="form-control" name="title" th:value="${board_data.title}">
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" rows="3" name="content" th:text="${board_data.content}"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">파일</label>
            <input type="file" class="form-control" name="file" />

            <th:block th:if="${board_data.filepath != null and board_data.filepath != ''}">
            <div id="img-view" class="mt-5">
                <img th:src="${board_data.filepath}" style="width: 100px; margin-right: 20px;"/>
            </div>
            </th:block>
        </div>

        <!-- 하단버튼 영역 -->
        <div class="mt-5">
            <button type="submit" class="btn btn-primary">수정</button>
            <a class="btn btn-info" th:href="@{/board/list}">목록</a>
        </div>
        </form>


    </div><!-- END : container -->
</div><!-- END : wrapper -->

<!-- content : END  ========================================================================== -->

<div th:replace="fragments/common :: html-footer">-- footer 영역 --</div>
</body>
</html>