<!doctype html>
<!-- # html에 xmlns:th="http://www.thymeleaf.org"를 붙여야 '타임리프'를 사용할 수 있음 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">-- header 영역 --</head>
<div th:replace="fragments/common :: html-nav">-- nav 영역 --</div>
<body>

<!-- content : Start ========================================================================== -->

<div class="wrapper mt-5 mb-5">
    <div class="container mt-5 mb-5">

        <!-- 타이틀 영역 -->
        <div class="mt-5 mb-3">
            <figure>
                <blockquote class="blockquote"><p><mark>※ 게시판 리스트</mark></p></blockquote>
                <figcaption class="blockquote-footer-green">- 리스트 db.board [id, title, content, filename, filepath, create_date]</figcaption>
                <figcaption class="blockquote-footer-green">- YouTube)  https://youtu.be/frI5CoZe-vE</figcaption>
            </figure>
        </div>

        <!-- 리스트 테이블 영역 -->
        <div class="mt-5 mb-3">

            <div class="mb-3">
                <form class="d-flex" th:action="@{/board/list}" method="get">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchKeyword" list="searchKeyword" th:value="${param.searchKeyword}" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                        <datalist id="searchKeyword">
                            <option th:each="board_data : ${list}" th:value="${board_data.title}" label="검색어">
                        </datalist>

                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                    </div>
                </form>
            </div>

            <table class="table table-striped" style="border-top: 2px solid #212529;">
                <thead>
                <tr>
                    <th class="col-1 text-center" scope="col">#</th>
                    <th class="col-9" scope="col">제목/내용</th>
                    <th class="col-2 text-center" scope="col">
                        <a class="btn btn-warning" th:href="@{/board/write}">쓰기</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- ### html에 xmlns:th="http://www.thymeleaf.org"를 붙여야 '타임리프'를 사용할 수 있음 ### -->
                <!--
                # BoardController : md.addAttribute("list", bds.serviceBoardList()); 의 값을 `board_data`에 넣어줌
                # th:text - 태그 안에 데이터를 출력
                # th:each - 반복문 : ${list} 에서 board_data가 없어질 때까지 반복
                # th:each="${number:#number(시작번호, 끝번호)}" - 시작번호에서 끝번호까지 반복
                # th:href - 링크를 걸어줌
                -->
                <tr th:each="board_data : ${list}">
                    <th class="text-center" th:text="${board_data.id}" scope="row"></th>
                    <td>
                        <a th:text="${board_data.title}" th:href="@{/board/view(id=${board_data.id})}"></a>
                        <div class="blockquote-text" th:text="${board_data.content}"></div>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-outline-success" th:href="@{/board/update/{id}(id=${board_data.id})}">수정</a>
                        <a class="btn btn-sm btn-outline-secondary" th:href="@{/board/delete_do(id=${board_data.id})}">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--
            th:block :굳이 태그로 감쌀 필요없는 부분을 타임리프 문법을 이용해서 사용할때 쓰는 문법
            -->
            <!--
            # 페이징
            <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page-1})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color: red;"></strong>
            </th:block>
            -->
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/board/list(page = 0, searchKeyword = ${param.searchKeyword})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                            <li class="page-item" th:if="${page != nowPage}">
                                <a class="page-link" th:href="@{/board/list(page = ${page-1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}">그냥페이지</a>
                            </li>
                            <li class="page-item active" th:if="${page == nowPage}" aria-current="page">
                                <a class="page-link" th:text="${page}" href="#">현재페이지</a>
                            </li>
                        </th:block>

                        <li class="page-item">
                            <a class="page-link" th:href="@{/board/list(page = ${totalPage}-1, searchKeyword = ${param.searchKeyword})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- 검색 전 코드
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/board/list(page = 1)}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                        <li class="page-item" th:if="${page != nowPage}"><a class="page-link" th:href="@{/board/list(page = ${page-1})}" th:text="${page}">그냥페이지</a></li>
                        <li class="page-item active" th:if="${page == nowPage}" aria-current="page"><a class="page-link" th:text="${page}" href="#">현재페이지</a></li>
                        </th:block>

                        <li class="page-item">
                            <a class="page-link" th:href="@{/board/list(page = ${totalPage}-1)}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                -->
            </div>

        </div>


    </div><!-- END : container -->
</div><!-- END : wrapper -->

<!-- content : END  ========================================================================== -->

<div th:replace="fragments/common :: html-footer">-- footer 영역 --</div>
</body>
</html>