<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/common :: html-head">-- header 영역 --</head>-->
<head>
    <th:block th:insert="fragments/common :: f-header">-- 공통 header 영역--</th:block>
    <title>Jin's Study - Member</title>
</head>
<body>
<!--<div th:replace="fragments/common :: html-nav">-- nav 영역 --</div>-->
<th:block th:insert="fragments/common :: f-nav">-- nav 영역 --</th:block>

<!-- content : Start ========================================================================== -->

<div class="wrapper mt-5 mb-5">
    <div class="container mt-5 mb-5">

        <!-- 타이틀 영역 -->
        <div class="mt-5 mb-3">
            <figure>
                <blockquote class="blockquote"><p><mark>※ 회원 리스트</mark></p></blockquote>
                <figcaption class="blockquote-footer-green">- 리스트 db.member [idx, userid, username, password, email, joindate, deleteyn, deletedate]</figcaption>
                <figcaption class="blockquote-footer-green">- 등록/수정 : form을 ajax로 저장 + Gson 라이브러리 이용</figcaption>
            </figure>
        </div>


        <!-- 리스트 영역 -->
        <div class="mt-5 mb-3">

            <!-- 검색 영역 -->
            <div class="mb-3">
                <form class="d-flex" th:action="@{/member/list}" method="get">
                    <div class="col-md me-2">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="userid" name="userid" placeholder="아이디검색" th:value="${param.userid}">
                            <label for="userid">아이디 검색</label>
                        </div>
                    </div>
                    <div class="col-md me-2">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="username" name="username" placeholder="아이디검색" th:value="${param.username}">
                            <label for="username">이름 검색</label>
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </form>
            </div>


            <table class="table table-striped" style="border-top: 2px solid #212529;">
                <thead>
                <tr>
                    <th class="col-1 text-center" scope="col">#</th>
                    <th class="col-3 text-center" scope="col">아이디</th>
                    <th class="col-3 text-center" scope="col">이름</th>
                    <th class="col-3 text-center" scope="col">가입일</th>
                    <th class="col-2 text-center" scope="col">
                        <a class="btn btn-warning" th:href="@{/member/write/{id}(id=0)}">쓰기(ajax)</a>
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="rows : ${list}">
                    <th class="text-center" th:text="${rows.idx}" scope="row"></th>
                    <td class="text-center" th:text="${rows.userid}"></td>
                    <td class="text-center" th:text="${rows.username}"></td>
                    <td class="text-center" th:text="${rows.joindate}"></td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-outline-success" th:href="@{/member/write/{idx}(idx=${rows.idx})}">수정</a>
                        <!--
                        <a class="btn btn-sm btn-outline-secondary" th:href="@{/member/delete_do(idx=${rows.idx})}">삭제</a>
                        -->
                    </td>
                </tr>

                </tbody>
            </table>

            <!--
            th:block :굳이 태그로 감쌀 필요없는 부분을 타임리프 문법을 이용해서 사용할때 쓰는 문법
            -->
            <!--
            # 페이징
            <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page-1})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color: red;"></strong>
            </th:block>
            -->

            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/member/list(page = 0, userid = ${param.userid}, username = ${param.username})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                            <li class="page-item" th:if="${page != nowPage}">
                                <a class="page-link" th:href="@{/member/list(page = ${page-1}, userid = ${param.userid}, username = ${param.username})}" th:text="${page}">그냥페이지</a>
                            </li>
                            <li class="page-item active" th:if="${page == nowPage}" aria-current="page">
                                <a class="page-link" th:text="${page}" href="#">현재페이지</a>
                            </li>
                        </th:block>

                        <li class="page-item">
                            <a class="page-link" th:href="@{/member/list(page = ${totalPage}-1, userid = ${param.userid}, username = ${param.username})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>


    </div><!-- END : container -->
</div><!-- END : wrapper -->

<!-- content : END  ========================================================================== -->

<!--<div th:replace="fragments/common :: html-footer">-- footer 영역 --</div>-->
<th:block th:insert="fragments/common :: f-footer">-- footer 영역 --</th:block>
<th:block th:insert="fragments/common :: f-script">-- 스크립트 영역 --</th:block>
</body>
</html>