<!doctype html>
<!-- # html에 xmlns:th="http://www.thymeleaf.org"를 붙여야 '타임리프'를 사용할 수 있음 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">-- header 영역 --</head>
<div th:replace="fragments/common :: html-nav">-- nav 영역 --</div>
<body>

<!-- content : Start ========================================================================== -->

<div class="wrapper mt-5 mb-5">
    <div class="container mt-5 mb-5">

        <!-- 타이틀 영역 -->
        <div class="mt-5 mb-5">
            <figure>
                <blockquote class="blockquote"><p><mark>※ 회원 등록페이지 (ajax + Gson 라이브러리)</mark></p></blockquote>
                <figcaption class="blockquote-footer-green">- 리스트 db.member [idx, userid, username, password, email, joindate, deleteyn, deletedate]</figcaption>
                <figcaption class="blockquote-footer-green">- 등록/수정 : form을 ajax로 저장 + Gson 라이브러리 이용</figcaption>
            </figure>
        </div>


        <!-- 쓰기폼 영역 -->
        <form class="container" method="post" id="frm" name="frm" th:action="@{/member/ajax_write_do/{id}(id=${member_data.idx})}">
            <div class="mb-3">
                <label class="form-label">아이디</label>
                <input type="text" class="form-control" placeholder="아이디" id="userid" name="userid" data-validation="Y" th:value="${member_data.userid}" />
            </div>
            <div class="mb-3">
                <label class="form-label">비밀번호</label>
                <input type="password" class="form-control" placeholder="비밀번호" name="password" data-validation="Y" />
            </div>
            <div class="mb-3">
                <label class="form-label">이름</label>
                <input type="text" class="form-control" placeholder="이름" name="username" data-validation="Y" th:value="${member_data.username}" />
            </div>
            <div class="mb-3">
                <label class="form-label">이메일</label>
                <input type="text" class="form-control" placeholder="메일주소" name="email" data-validation="Y" th:value="${member_data.email}" />
            </div>

            <!-- 하단버튼 영역 -->
            <div class="mt-5">
                <button type="submit" id="save_btn_submit" class="btn btn-primary">저장</button>
                <a class="btn btn-info" th:href="@{/member/list}">목록</a>
            </div>
        </form>


    </div><!-- END : container -->
</div><!-- END : wrapper -->


<script>
    $(function() {

        /* 정보 업데이트 저장 : AJAX */
        $("#save_btn_submit").on("click", function() {

            // input 가운데 validation 확인여부 확인 (data-validation 속성에 'Y' 값이 있는 경우에만 체크)
            $("input").each(function(idx){
                if($(this)[0].hasAttribute('data-validation') == true && $(this).data('validation') == 'Y')
                {
                    var tmpVal = $(this).val();
                    var tmpPlaceholder = $(this).attr('placeholder');

                    if(tmpVal == '') { alert('['+tmpPlaceholder + '] 을/를 입력하세요'); return false; }
                }
            });

            // ajax 처리
            //var _url = "/member/ajax_write_do";
            var _url = $('#frm').attr("action");
            var _data = new FormData($('#frm')[0]);

            $.ajax({
                url: _url,
                contentType : false,
                type:"POST",
                dataType: "JSON",
                data: _data,
                cache: false,
                async: false,
                processData: false,
                success:function(data){
                    console.log(data);

                    if(data.result == 'true') {
                        alert(decodeURI(data.message));
                        location.href = "/member/list";
                    } else {
                        alert(decodeURI(data.message));
                    }
                },
                error:function(data){
                    console.log(data);
                    alert("관리자에게 문의하세요");
                }
            });

            return false;
        });

    });

    $(document).ready(function(){
        var idx = "[[${member_data.idx}]]";
        console.log(idx);

        if(idx > 0) {
            $("#userid").attr("disabled", true);
        }
    });
</script>


<!-- content : END  ========================================================================== -->

<div th:replace="fragments/common :: html-footer">-- footer 영역 --</div>
</body>
</html>