<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <th:block th:fragment="f-header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery JavaScript Library v3.6.0 -->
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>-->

    <!-- common CSS -->
    <link href="/css/common.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link href="/dist/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </th:block>
    <title>Jin's Study - 공통</title>
</head>
<body>

<!-- navigation : START -->
<th:block th:fragment="f-nav">
<nav th:fragment="html-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand px-2" style="color: #dc3545;" th:href="@{/}">Jin's Study</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/board}">Board</a>
                </li>
                <li class="nav-item"><a class="nav-link disabled"> | </a></li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/member}">Member</a>
                </li>
            </ul>

            <span class="px-4">
                <span class="me-2">
                    <!--<i class="bi-gem" style="font-size: 1rem; color: cornflowerblue;"></i>-->
                    <i class="bi-person-heart" style="font-size: 1.5rem; color: #FF7171;"></i>
                </span>
                <span style="color: #FF9436;" th:text="${session.username}"></span>
                <span>회원님이 로그인하셨습니다.</span>
                <a type="button" class="btn btn-outline-danger ms-2" th:href="@{/login/logout}">로그아웃</a>
            </span>
        </div>
    </div>
</nav>
</th:block>
<!-- navigation : END -->









<!-- content : Start ========================================================================== -->
<div style="margin: 100px 100px; ">
</div>
<!-- content : END  ========================================================================== -->









<!-- site info -->
<th:block th:fragment="f-footer">
<div th:fragment="html-footer" class="mb-5 container-fluid">
    <hr>
    <!--<p>@ Copyright - <a href="#">Privacy</a> - <a href="#">Terms</a></p> -->
    <p>@ Copyright - Jin's Study</p>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</div>
</th:block>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<th:block th:fragment="f-script">
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</th:block>
</body>
</html>