@charset "UTF-8";

/* FONT 에스코어드림Lt */
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
body { font-family: "S-CoreDream-3Light" !important; }

/* WIDTH */
.wd30 { width: 30px !important; }
.wd40 { width: 40px !important; }
.wd50 { width: 50px !important; }
.wd100 { width: 100px !important; }
.wd130 { width: 130px !important; }
.wd150 { width: 150px !important; }
.wd200 { width: 200px !important; }
.wdp20 { width: 20% !important; }
.wdp30 { width: 30% !important; }
.wdp40 { width: 40% !important; }
.wdp50 { width: 50% !important; }
.wdp60 { width: 60% !important; }
.wdp70 { width: 70% !important; }
.wdp80 { width: 80% !important; }
.wdp90 { width: 90% !important; }
.wdp100 { width: 100% !important; }


/* HEIGHT */
.ht50  { height: 50px !important; }
.ht70  { height: 70px !important; }
.ht100 { height: 100px !important; }
.ht200 { height: 200px !important; }
.ht250 { height: 250px !important; }
.ht300 { height: 300px !important; }
.ht400 { height: 400px !important; }


/* MARGIN */
.mg0 { margin: 0 !important; }
.mgl5  { margin-left: 5px; }
.mgl10 { margin-left: 10px; }
.mgl15 { margin-left: 15px; }
.mgl20 { margin-left: 20px; }
.mgl30 { margin-left: 30px; }
.mgl40 { margin-left: 40px; }
.mgl50 { margin-left: 50px; }

.mgr2  { margin-right: 2px; }
.mgr5  { margin-right: 5px; }
.mgr10 { margin-right: 10px; }
.mgr20 { margin-right: 20px; }
.mgr30 { margin-right: 30px; }
.mgr40 { margin-right: 40px; }
.mgr50 { margin-right: 50px; }

.mgt5  { margin-top: 5px; }
.mgt10 { margin-top: 10px; }
.mgt20 { margin-top: 20px; }
.mgt30 { margin-top: 30px; }
.mgt40 { margin-top: 40px; }
.mgt50 { margin-top: 50px; }

.mgb5  { margin-bottom: 5px; }
.mgb10 { margin-bottom: 10px; }
.mgb20 { margin-bottom: 20px; }
.mgb30 { margin-bottom: 30px; }
.mgb40 { margin-bottom: 40px; }
.mgb50 { margin-bottom: 50px; }

.mgt1r { margin-top: 1rem; }
.mgt2r { margin-top: 2rem; }
.mgt3r { margin-top: 3rem; }
.mgt4r { margin-top: 4rem; }
.mgt5r { margin-top: 5rem; }

.mgb1r { margin-bottom: 1rem; }
.mgb2r { margin-bottom: 2rem; }
.mgb3r { margin-bottom: 3rem; }
.mgb4r { margin-bottom: 4rem; }
.mgb5r { margin-bottom: 5rem; }


/* FLOAT */
.for { float: right; }
.fol { float: left;  }
.flr:after { display:block; clear:both; content:''; }


/* PADDING */
.pd0  { padding: 0 !important; }
.pd5  { padding: 5px;  }
.pd10 { padding: 10px; }
.pd20 { padding: 20px; }
.pd30 { padding: 30px; }

.pdr10 { padding-right: 10px; }
.pdr20 { padding-right: 20px; }
.pdr30 { padding-right: 30px; }
.pdr40 { padding-right: 40px; }

.pdw10 { padding: 0 10px; }
.pdw20 { padding: 0 20px; }
.pdw30 { padding: 0 30px; }
.pdw40 { padding: 0 40px; }

.pdh5  { padding: 5px 0; }
.pdh10 { padding: 10px 0; }
.pdh20 { padding: 20px 0; }
.pdh30 { padding: 30px 0; }
.pdh40 { padding: 40px 0; }

.pd1r  { padding: 1rem; }
.pd2r  { padding: 2rem;  }
.pd3r { padding: 3rem; }
.pd4r { padding: 4rem; }
.pd5r { padding: 5rem; }

.pdw1r { padding: 0 1rem; }
.pdw2r { padding: 0 2rem; }
.pdw3r { padding: 0 3rem; }
.pdw4r { padding: 0 4rem; }

.pdh1r  { padding: 1rem 0; }
.pdh2r { padding: 2rem 0; }
.pdh3r { padding: 3rem 0; }
.pdh3r { padding: 4rem 0; }
.pdh5r { padding: 5rem 0; }


/* POSITION */
.ps-r { position: relative; }
.ps-a { position: absolute; }


/* DISPLAY */
.dpn  { display: none !important; }
.dpib { display: inline-block !important; }

.b_fff { background-color: #fff; }

/* TEXT COLOR */
.c_ff9933 { color: #ff9933; }
.c_FF7012 { color: #FF7012; }
.c_ffc240 { color: #ffc240; }
.c_ffe08c { color: #FFE08C; }
.c_ffbb00 { color: #ffbb00; }
.c_FFE400 { color: #FFE400; }
.c_980000 { color: #980000; }
.c_ED0000 { color: #ED0000; }
.c_486EBA { color: #486EBA; }
.c_ffffff { color: #ffffff; }
.c_9FC93C { color: #9FC93C; }
.c_2F9D27 { color: #2F9D27 !important; }
.c_486AAE { color: #486AAE !important; }
.c_998A00 { color: #998A00; }
.c_BDAE24 { color: #BDAE24; }
.c_A5A5A5 { color: #a5a5a5; }
.c_08AEEB { color: #08AEEB; }
.c_6C6C6C { color: #6c6c6c !important; }

.text-shadow-01 { text-shadow: 0 0 3px #fff; }

.text-gray-100 { color: #f8f9fc !important;  }
.text-gray-200 { color: #eaecf4 !important; }
.text-gray-300 { color: #dddfeb !important; }
.text-gray-400 { color: #d1d3e2 !important; }
.text-gray-500 { color: #b7b9cc !important; }
.text-gray-600 { color: #858796 !important; }
.text-gray-700 { color: #6e707e !important; }
.text-gray-800 { color: #5a5c69 !important; }
.text-gray-900 { color: #3a3b45 !important; }

.text-red-100   { color: #DE4F4F !important; }
.text-blue-100  { color: #2478FF !important; }
.text-green-100 { color: #2F9D27 !important; }

.font-weight-light { font-weight: 300 !important; }
.font-weight-lighter { font-weight: lighter !important; }
.font-weight-normal { font-weight: 400 !important; }
.font-weight-bold { font-weight: 700 !important; }
.font-weight-bolder { font-weight: bolder !important; }


.h1 { font-size: 2.6em; font-family: "S-CoreDream-3Light"; font-weight: 500; }
.h2 { font-size: 2.4em; font-family: "S-CoreDream-3Light"; font-weight: 500; }
.h3 { font-size: 2.2em; font-family: "S-CoreDream-3Light"; font-weight: 500; }
.h4 { font-size: 2.0em; font-family: "S-CoreDream-3Light"; font-weight: 500; }
.h5 { font-size: 1.8em; font-family: "S-CoreDream-3Light"; font-weight: 500; }
.h6 { font-size: 1.6em; font-family: "S-CoreDream-3Light"; font-weight: 500; }
.h7 { font-size: 1.4em; font-family: "S-CoreDream-3Light"; font-weight: 500; }
.h8 { font-size: 1.2em; font-family: "S-CoreDream-3Light"; font-weight: 500; }
.h9 { font-size: 1.0em; font-family: "S-CoreDream-3Light"; font-weight: 500; }
.h10 { font-size: 0.9em; font-family: "S-CoreDream-3Light"; font-weight: 500; }

.ta-c { text-align: center !important; }
.ta-l { text-align: left !important; }
.ta-r { text-align: right !important; }

.border-top { border-top: 1px solid rgba(26,54,126,0.125); }
.border-bottom { border-top: 1px solid rgba(26,54,126,0.125); }

.lh15 { line-height: 1.5; }
.lh18 { line-height: 1.8; }
.lh2 { line-height: 2; }

.valign-middle { vertical-align: middle; }
.valign-top { vertical-align: top; }

.fsize-1rem { font-size: 1rem !important; }
.fsize-12rem { font-size: 1.2rem !important; }
.fsize-13rem { font-size: 1.3rem !important; }
.fsize-14rem { font-size: 1.4rem !important; }
.fsize-15rem { font-size: 1.5rem !important; }
.fsize-2rem { font-size: 2rem !important; }

.bc_486EBA { background-color: #486EBA !important; }
.btn-5c89fd { background-color:#5c89fd;border-color:#5c89fd; }

.blockquote-text::before { content: "→ "; }
.blockquote-text { margin-top: 1rem; font-size: .875em; color: #6c757d; }

.blockquote-footer-green { margin-top: -1rem; margin-bottom: 1rem; font-size: .875em; color: #009688; }