<!doctype html>
<!-- # html에 xmlns:th="http://www.thymeleaf.org"를 붙여야 '타임리프'를 사용할 수 있음 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">-- header 영역 --</head>
<div th:replace="fragments/common :: html-nav">-- nav 영역 --</div>
<body>

<!-- content : Start ========================================================================== -->

<div class="wrapper mt-5 mb-5">
    <div class="container mt-5 mb-5">

        <!-- 내용 영역 -->
        <div class="mt-5 mb-3">

            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Jin's Study - Main</h1>
                    <p class="col-md-8 fs-4 mt-5">
                        나는 지금 <span class="text-primary" th:text="${session.userid}"></span> 로 로그인 중~
                    </p>
                    <p class="mt-4">
                        <a th:href="@{/test/request}">임시: HttpServletReques값 System prints</a>
                    </p>
                    <!--<button class="btn btn-primary btn-lg" type="button">Example button</button>-->
                </div>
            </div>


            <div class="row align-items-md-stretch mt-5">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-secondary rounded-3">
                        <h2>게시판</h2>
                        <p class="mt-5">여기는 게시판!!</p>
                        <a class="btn btn btn-outline-light" th:href="@{/board/list}" type="button">Board 이동</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-secondary rounded-3">
                        <h2>회원 관리</h2>
                        <p class="mt-5">여기는 회원 관리!!!</p>
                        <a class="btn btn btn-outline-light" th:href="@{/member/list}" type="button">Member 이동</a>
                    </div>
                </div>
            </div>


        </div>
        <!-- END : 내용 영역 -->

    </div><!-- END : container -->
</div><!-- END : wrapper -->

<!-- content : END  ========================================================================== -->

<div th:replace="fragments/common :: html-footer">-- footer 영역 --</div>
</body>
</html>